a:link, a:visited {
    color: #310303;
    text-decoration: none;
}
a:hover {
    color: #310303;
    text-decoration: underline;
}
body {
    font-weight: bold;
    color: #001d2c;
    background-color: #646363;
    text-align:center;
    font-family: Arial, sans-serif;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
}
td {
    width: 60px;
    height: 60px;
    border: 2px solid #001d2c;
    text-align: center;
    font-size: 20px;
}
td.sum {
    background-color: #1f1f21b3;
    font-weight: bold;
}
.button {
    margin: 10px 5px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3e3e3e;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-color: #000000;
}
select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
#result {
    margin-top: 20px;
    font-size: 18px;
}