/* Estilos generales para la página */
cuerpo {
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
   text-align: center;
    margin: 0;
    fill: 0;
}

/* Estilo para los encabezados */
h1 {
    font-size: 36px;
    color: #002d4d; 
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para los párrafos */
pag {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    margin: 15px;
    text-align: justify;
}

/* Estilo para las listas ordenadas */
de {
    margin: 20px automático;
    padding-left: 0;
    list-style-position: inside;
    font-size: 18px;
    color: #000000;
}

/* Estilo para los enlaces */
a {
    color: #000000; 
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

a:flotar {
    color: #272727; 
    text-shadow: 2px 2px 8px rgba(154, 154, 154, 0.249);
}

/* Estilo para el pie de página */
pie de página {
    background-color: #3f6666;
    color: #ffffff;
   fill: 10px 0;
   position:fixed;
    width:  100%;
    bottom: 0;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

pie de página 
p {
    margin: 0 automático;
   font-size: 14px;
    text-align: center;
}


/* Estilo para las listas y las secciones de los ejemplos */
ol li {
    background-color: #3f4c65; 
    padding: 10px 20px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

ol li:hover {
    background-color: #454544; 
    transform: scale(1.05);
}


/* Ajuste responsivo */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    ol li {
        width: 90%;
    }
}

.contenedor {
    margin: 0 auto;
    max-width: 80%;
}